<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Auth</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	<%= javascript_include_tag "html5" %>
    <![endif]-->
</head>
<body>
	<header>
		
	</header>
	<div id="body">
		<%= yield %>
	</div>
	<footer>
		
	</footer>
</body>
</html>