<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Auth</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	<%= javascript_include_tag "html5" %>
    <![endif]-->
</head>
<body>
	<header>
		<div id="header">
			Phonenix
		</div>
	</header>
	<div id="body">
		<div id="main">
			<%= yield %>
		</div>
	</div>
	<footer>
		<div id="footer">
			<ul id="ft-links">
				<li><%= link_to "register", signup_path %></li>
				<li><%= link_to "login", login_path %></li>
				<li><%= link_to "logout", logout_path %></li>
				<li><%= link_to "find password", new_user_password_path %></li>
				<li><a href="#">profile</a></li>
				<li><a href="#">change password</a></li>
				<li><a href="#">following</a></li>
				<li><a href="#">followers</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>