<div id="register">
	<h2>Sign Up</h2>
	<p class="grey">
		Already a member? <%= link_to "Sign In", login_path %>
	</p>
	<div id="form-register" class="">
		<div class="form-wrapper">
			<%= simple_form_for( resource, :as => resource_name, :url => registration_path(resource_name) ) do |f| %>
			<%= devise_error_messages!%>
				<div class="field">
					<div class="input-wrapper">
  						<%= f.email_field :email, :class => "", :placeholder => "Email address" %>
					</div>
				</div>
				<div class="field">
					<div class="input-wrapper">
  						<%= f.text_field :name, :class => "", :placeholder => "Username" %>
					</div>
				</div>
				<div class="field">
					<div class="input-wrapper">
  						<%= f.password_field :password, :class => "", :placeholder => "Password" %>
					</div>
				</div>
				<div class="field">
					<%= f.button :submit, "Sign Up", :class => "btn"%>
				</div>
			<% end %>
		</div>
	</div>
</div>