<div id="login">
	<h2>Sign In</h2>
	<p class="grey">
		Please sign in, or <%= link_to "Register", signup_path %>
	</p>
	<div id="form-login" class="">
		<div class="form-wrapper">
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<%= devise_error_messages!%>
				<div class="field">
					<div class="input-wrapper">
						<%= f.label :email, t(:email_or_username), :class => "input-placeholder" %>
  						<%= f.email_field :email, :class => "" %>
					</div>
				</div>
				<div class="field">
					<div class="input-wrapper">
						<%= f.label :password, t(:password), :class => "input-placeholder" %>
  						<%= f.password_field :password, :class => "" %>
					</div>
				</div>
				<% if devise_mapping.rememberable? %>
				<div class="field">
					<div class="input-wrapper">
						<%= f.check_box :remember_me, :class => "" %>
  						<%= f.label :remember_me, t(:remember_me) %>
					</div>
				</div>
				<% end %>
				<div class="field">
					<%= f.button :submit, "Sign In", :class => "btn"%>
				</div>
			<% end %>
		</div>
		<p class="grey">
			<%= link_to "Forget your password?", new_user_password_path %>
		</p>
	</div>
</div>