%h1
  hello world
  
- if current_user
  = link_to current_user.name.to_s, user_path(current_user)

%br
/ 
/ = link_to 'Log In', login_path
/ %br
/ = link_to 'Sign UP', signup_path
/ %br
/ = link_to 'logout', logout_path

- if user_signed_in?
  %li
    = link_to('Logout', destroy_user_session_path, :method=>'delete')
- else
  %li
    = link_to('Login', new_user_session_path)
- if user_signed_in?
  %li
    = link_to('Edit account', edit_user_registration_path)
- else
  %li
    = link_to('Sign up', new_user_registration_path)
