%h1
  Index page

- if current_user
  = link_to current_user.name.to_s, user_path(current_user)
  
- if user_signed_in?
  %li
    = link_to('Logout1', logout_path, :method=>'delete')
- else
  %li
    = link_to('Login', login_path)
- if user_signed_in?
  %li
    = link_to('Edit account', edit_user_registration_path)
- else
  %li
    = link_to('Sign up', signup_path)
