-# Copyright (c) 2011-2012, Phoenix engine.

%h1 edit the user info

%br
%br

%h4 Change your Email
%br
Your Email:
= current_user.email.to_s

%br
%br

%h4 Change your password
%br
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  %div
    = f.label :password, "Old password"
    = f.password_field :password

  %div
    = f.label :password, "New password"
    = f.password_field :password

  %div
    = f.label :password_confirmation, "Confirm new password"
    = f.password_field :password_confirmation

  %div
    = f.submit "Change my password"